# Ignore object files, compiled binaries, and debug information
*.o
*.a
*.so
*.out
*.exe
*.dSYM
*.obj

# Ignore directories
build/
bin/
Debug/
Release/

# Ignore IDE specific files
.vscode/
.idea/

# Ignore CMake build files
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
*.cmake

# Ignore temporary files from your editor or OS
*~
*.swp
.DS_Store
Thumbs.db